################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFlock-0.8/FileContentIndex/149307dd-9719-4f98-8ea2-bbc60a8a7d58.vsidx
